h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
}

body {
  color: var(--primery-text-color);
  background-color: var(--primery-white-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

body.modal-open {
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-text-color: #757575;
  --primery-white-color: #ffffff;
  --bkg-block-color: #2f303a;
  --button-color: #f5f4fa;
  --black-color: #000000;
  --border-color: #ececec;
  --second-border-color: #eeeeee;
  --fill-icon: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.policy, .close-button, .sign-up__link, .sign-up__list, .social__link, .social, .feature__background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 24px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  transition-property: background-color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.title {
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
  }
}

.header {
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

.logo {
  color: var(--black-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo__web {
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .logo {
    margin-left: 15px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.menu-button {
  display: inline-block;
  padding: 0;
  margin-right: 10px;
  border: none;
  background-color: transparent;
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-close {
  display: none;
}

.menu-container {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  background-color: var(--primery-white-color);
  padding: 10px 15px 48px 40px;
}

.menu-container.is-open {
  display: block;
}

.menu-close {
  display: block;
  padding: 0;
  margin-left: auto;
  margin-right: 0;
  border: none;
  background-color: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close:hover {
  fill: var(--accent-color);
}

.menu-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.mob-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mob-navigation__link--current {
  color: var(--accent-color);
}

.mob-contact {
  margin-bottom: 64px;
}

.mob-contact__item:first-child {
  margin-bottom: 32px;
}

.mob-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: var(--accent-color);
}

.mob-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: var(--primery-text-color);
}

.mob-social {
  display: flex;
}

.mob-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
}

.mob-social-links {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
}
.mob-social-links::after {
  content: "";
  width: 22px;
  height: 0px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.navigation__list {
  display: flex;
}
.navigation__list .navigation__item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    margin-left: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 93px;
  }
}

.navigation__link {
  display: block;
  padding: 32px 0;
}

.navigation__link--current {
  position: relative;
  color: var(--accent-color);
}
.navigation__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .header__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 97px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact {
    align-items: center;
    flex-wrap: nowrap;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .contact__item--header:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item--header:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.navigation__link,
.contact__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus,
.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.contact__link--header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primery-text-color);
  font-style: normal;
}
.contact__link--header:hover .contact__icon, .contact__link--header:focus .contact__icon {
  fill: var(--accent-color);
}

.contact__icon {
  margin-right: 10px;
  fill: var(--primery-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background-color: var(--bkg-block-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay-2x.jpg);
  }
}

.hero_title {
  margin-bottom: 30px;
  color: var(--primery-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero_title {
    font-size: 44px;
    line-height: 1.34;
  }
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: calc((100% - 120px) / 4);
  }
}

.feature__background {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.feature__subtitle {
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .feature__subtitle {
    text-align: start;
  }
}

.work {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  display: flex;
}
.work__list .work__item:not(:last-child) {
  margin-right: 30px;
}

.work__box {
  position: relative;
}

.work__thumb {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  color: var(--primery-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--button-color);
}

.card-list {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}

.card-list__item {
  margin: 15px;
  width: 100%;
  background-color: var(--primery-white-color);
}
@media screen and (min-width: 768px) {
  .card-list__item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card-list__item {
    width: calc((100% - 120px) / 4);
  }
}

.card-list__info {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-list__name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.card-list__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.social__item {
  width: 44px;
  height: 44px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--fill-icon);
  transition-property: background-color color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
}

.social__icon {
  fill: currentColor;
}

.client__list {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .client__list {
    margin: 0;
  }
}

.client__item {
  width: calc((100% - 60px) / 2);
  height: 92px;
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: 170px;
    height: 92px;
    margin: 0;
  }
  .client__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 16px 52px;
  fill: var(--fill-icon);
  border: 1px solid var(--fill-icon);
  border-radius: 4px;
  transition-property: fill border border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .client__link {
    padding: 16px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    padding: 16px 32px;
  }
}
.client__link:hover, .client__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bkg-block-color);
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-direction: row;
    align-items: baseline;
  }
}

.combination {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .combination {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .combination {
    align-items: flex-start;
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.connection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .connection {
    align-items: flex-start;
  }
}

.connection__address {
  display: inline-block;
  margin-bottom: 8px;
  color: var(--primery-white-color);
  text-decoration: none;
  font-style: normal;
}

.combination__logo {
  margin-bottom: 20px;
  margin-left: 0;
  color: var(--primery-white-color);
}

.connection .connection__item:not(:last-child) {
  margin-bottom: 8px;
}

.contact__item--footer:first-child {
  margin-bottom: 8px;
}

.contact__link--footer {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .sign-up {
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.sign-up__text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primery-white-color);
  margin-bottom: 20px;
}

.sign-up__item {
  width: 44px;
  height: 44px;
}
.sign-up__item:not(:last-child) {
  margin-right: 10px;
}

.sign-up__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: var(--primery-white-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sign-up__link:hover, .sign-up__link:focus {
  background-color: var(--accent-color);
}

.sign-up__icon {
  fill: currentColor;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
    align-items: flex-start;
  }
}

.subscribe__label {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

.subscribe__mail {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .subscribe__mail {
    flex-direction: row;
  }
}

.subscribe__input {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  color: var(--primery-white-color);
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe__button {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    padding: 10px 28px;
    margin-left: 12px;
  }
}

.subscribe__icon {
  margin-left: 10px;
  fill: var(--primery-white-color);
}

@media screen and (min-width: 768px) {
  .combination-tablet {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .combination-tablet {
    align-items: baseline;
  }
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding: 93px 15px;
  overflow-y: scroll;
  transition-property: opacity visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 94px 15px;
  overflow-y: scroll;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  padding: 37px 32px 43px 48px;
  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primery-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms var(--timing-function);
}
.close-button:hover, .close-button:focus {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.form {
  display: flex;
  flex-direction: column;
}

.modal__form {
  margin-left: auto;
  margin-right: auto;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
}

.form__symbol {
  position: relative;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  transition: border-color 250ms var(--timing-function);
}
.form__input:focus, .form__input:hover {
  border-color: var(--accent-color);
}
.form__input:focus + .form__icon, .form__input:hover + .form__icon {
  fill: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

textarea {
  resize: none;
}

.form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  font-size: 12px;
  transition: border-color 250ms var(--timing-function);
}
.form__comment:focus, .form__comment:hover {
  border-color: var(--accent-color);
}
.form__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__policy {
  margin-bottom: 30px;
}

.policy__input {
  margin-right: 8px;
  appearance: none;
  position: absolute;
}
.policy__input:checked + .policy__icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.policy__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.policy__label {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .policy__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy__link {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */