:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-text-color: #757575;
  --primery-white-color: #ffffff;
  --bkg-block-color: #2f303a;
  --button-color: #f5f4fa;
  --black-color: #000000;
  --border-color: #ececec;
  --second-border-color: #eeeeee;
  --fill-icon: #afb1b8;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}